{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>HaploSearch</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
        
        <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="row header">
                <div class="col-md-12">
                    <a href="/"><img src="{% static 'img/HaploSearch LOGO.png' %}" alt="HaploSearch"></a>
                </div>
            </div>
            {% block content %}
            {% endblock %}
        </div>
        <div class="footer">
            Made with <i class="fa fa-heart-o love"></i> by <a href="https://twitter.com/sdelquin"><i class="fa fa-twitter-square"></i> sdelquin</a>
            ·
            Based on <i class="fa fa-flask love"></i> of <a href="https://twitter.com/rfregel"><i class="fa fa-twitter-square"></i> rfregel</a>
        </div>
    </body>
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</html>
